@use '../util' as u;

input[type="range"]     {
    
    -webkit-appearance: none;
    width: u.rem(60);
    height: u.rem(20);


    &::-webkit-slider-runnable-track    {

        height: u.rem(20);
        border-radius: u.rem(25);
        margin: 10px 0px;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        margin-top: u.rem(2);

        width: u.rem(16);
        height: u.rem(16);
        border-radius: u.rem(25);

    }

}

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &__title {
        display: block;
    }

    &__theme_switcher {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-top: white solid;
    }
}

.main_summary   {
    display: flex;
    flex-direction: column;

    &__facebook &__twitter &__insta &__youtube {
        max-width: 100%;
    }
}






